body{
    background-color:black;
    width: 100%;
    height: 700px;
    margin:0px;
    padding: 0px;
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
     
}

.cabecalho{
    background-color: white ;
    width: 100%;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom:0.5px solid black;
    font-weight: bold;
    display:flow-root;
    position: fixed;
}

.cabecalho ul{
    margin-top:0px;
    list-style: none;
    margin-right: 10%;
    float: right;
}

.cabecalho ul li{
    float: left;
    width: 110px;
    height: 38px;
    margin-top: 25px;
    padding-bottom: 5px;
    text-align: center;
}

.cabecalho ul li:hover{
    border-bottom: 3px solid black;
}
.cabecalho ul a{
    text-decoration: none;
    color:black;
    position: inline-block;
}

.logo-menu{
    margin-left: 5%;
    float: left;
}

.rodape{
    width: 100%;
    height: 30px;
    color:black;
    background-color: white;
    bottom:0;
    padding-top: 10px;
    position: absolute;
    border-top: 1px solid black;
    text-align: center;
    position: fixed;
    display: block;
    
}

.conteudo{
    text-align: justify;
    font-family: 'tahoma', sans-serif;
    color: white;
    
}
.adm{
    border-style: solid;
	border-color: #8470FF; 
	border-width: 2px; 
	padding: 2px; 
}

.ads{
    border-style: solid;
	border-color: #8470FF; 
	border-width: 2px; 
	padding: 2px; 
}

.bd{
    border-style: solid;
	border-color: #8470FF; 
	border-width: 2px; 
	padding: 2px; 
}

.si{
    border-style: solid;
	border-color: #8470FF; 
	border-width: 2px; 
    padding: 2px;
}

.curso{
    border-style: solid;
	border-color: #8470FF; 
	border-width: 2px; 
	padding: 2px; 

}

.field{
    border:2px groove #8470FF /* Border width, style and colour
}

    





